@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>2017 MVC Core Moviews App</h1>
    <p class="lead">This is a sample app created by Mark D Lyen to showcase some MVC concepts and as a code sample respository for some of my MVC/Web API work.</p>
</div>

<div ><a href="~/api/films">/api/films</a></div>

<div><a href="~/api/films/28">/api/films/28</a></div>
